@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tablica Ogłoszeń</h1>
    <p class="lead">Aplikacja internetowa umożliwiająca dodawanie ogłoszeń za darmo</p>
</div>

@Html.Action("Index","Categories")