@model IEnumerable<Repository.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Kategorie</h2>

<table class="table">
    <tr></tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "AdsOfCategory", new { id = item.Id })
            </td>
            <td>
                 Liczba ogłoszeń: @Html.DisplayFor(modelItem => item.Advertisements.Count)
            </td>
        </tr>
    }

</table>
